html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

html {
  font-family: "Courier New", Courier, monospace;
}

.nav {
  border-bottom: 1px solid #eaeaeb;
  text-align: right;
  height: 70px;
  line-height: 70px;
}

.menu {
  margin: 0px 30px 0px 0px;
}

.menu a {
  clear: right;
  text-decoration: none;
  color: rgb(19, 17, 17);
  margin: 0px 10px;
  line-height: 70px;
}

span {
  color: rgb(60, 100, 4);
}

label {
  margin: 0px 40px 0px 0px;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width: 26px;
  float: right;
}

#toggle {
  display: none;
}

@media screen and (max-width: 500px) {
  label {
    display: block;
    cursor: pointer;
  }

  .menu {
    text-align: center;
    width: 100%;
    display: none;
  }

  .menu a {
    display: block;
    border-bottom: 1px solid #eaeaeb;
    margin: 0;
  }

  #toggle:checked + .menu {
    display: block;
  }
}
